* {
  padding: 0px;
  margin: 0px;
  user-select: none;
}
#navBar {
  height: 7vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-bottom: 0px solid black;
  position: fixed;
  width: 100%;
}
#score {
  border: 1px solid black;
  padding: 8px 18px 8px 18px;
  border-radius: 40px;
  background-color: rgba(0,0,0,0.1);
}
#scoreVal {
  position: relative;
  left: 2%;
  font-size: 2.8rem;
  font-weight: bold;
  color: darkblue;
  border: 0px solid black;
  width: 40%;
  display: flex;
}
#scoreVal:active {
  opacity: 0.5;
}
#scores {
  margin-left: 15px;
}
#plusLogo {
  height: 2.8rem;
  width: 2.8rem;
  border: 2px solid darkblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  color: darkblue;
  margin-left: 10px;
  display: none;
}
#profile {
  border: 2px solid black;
  height: 80px;
  width: 80px;
  position: absolute;
  left: 88%;
  border-radius: 50%;
  background-size: cover;
}
#profile:active {
  opacity: 0.6;
}
#background {
  height: 100vh;
  width: 100%;
  background: url("Background01.png");
  background-size: cover;
}
#logo {
  position: absolute;
  height: 44rem;
  width: 44rem;
  top: 17%;
  left: 15%;
  display: none;
}
#logoBox {
  position: absolute;
  height: 44rem;
  width: 44rem;
  top: 15%;
  left: 15%;
  border: 0px solid black;
  background: url("NewLogo2.png");
  background-size: 135% 145%;
  background-position: 45% 60%;
}
#start {
  height: 11rem;
  width: 32rem;
  border: 2px solid darkblue;
  position: absolute;
  top: 65%;
  left: 24.5%;
  border-radius: 90px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  background: url("Start1.png");
  background-size: 115% 150%;
  background-position: 50% 42%;
}
#start:active {
  opacity: 0.6;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.8);
}
#footer {
  height: 8rem;
  background-color: skyblue;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: darkblue;
  display: none;
}
/*
#icon {
  position: absolute;
  top: 84%;
  font-size: 5rem;
  left: 5rem;
  color: darkgreen;}
#icon:active {
  opacity: 0.6;
}
#settingLogo {
  position: absolute;
  top: 84%;
  font-size: 5rem;
  left: 5rem;
  color: darkgreen;
  text-shadow: 0px 0px 4px rgba(255,255,255,0.8);
  left: 81.8%;
}
#settingLogo:active {
  opacity: 0.6;
}
#creditLogo {
  position: absolute;
  top: 84%;
  font-size: 5rem;
  color: darkgreen;
  text-shadow: 0px 0px 4px rgba(255,255,255,0.8);
  left: 58%;
}
#creditLogo:active {
  opacity: 0.6;
}
#optionLogo {
  position: absolute;
  top: 83.6%;
  font-size: 5.5rem;
  color: darkgreen;
  text-shadow: 0px 0px 4px rgba(255,255,255,0.8);
  left: 33%;
}
#optionLogo:active {
  opacity: 0.6;
}
*/
#controlBox {
  width: 100%;
  border: 0px solid black;
  position: absolute;
  top: 88%;
  display: flex;
  justify-content: space-around;
}
.controls {
  width: 8.5rem;
  height: 8.5rem;
  border: 1.5px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: darkblue;
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
  text-shadow: 0px 0px 15px rgba(255,255,255,1);
}
.controls:active {
  box-shadow: 0px 0px 10px rgba(0,0,0,0);
  text-shadow: 0px 0px 10px rgba(255,255,255,0);
 
}

.topControls {
  width: 6rem;
  height: 6rem;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: darkblue;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px rgba(0,0,0,0);
  text-shadow: 0px 0px 15px rgba(255,255,255,1);
  left: 4%;
}
.topControls:active {
  color: aqua;
}
#topControl1 {
  top: 7%;
}
#topControl2 {
  top: 14%;
}
.blocks {
  height: 60rem;
  width: 50rem;
  background: linear-gradient(130deg,aqua,lavender);
  position: absolute;
  top: 18%;
  left: 9%;
  border-radius: 2rem;
  border: 2px solid gold;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
  visibility: hidden;
  z-index: 2;
}

#shopBlock {
  visibility: hidden;
}
#optionBlock {
  visibility: hidden;
}
#creditBlock {
  visibility: hidden;
}
#psettingBlock {
  visibility: hidden;
}
.blockHeadings {
  font-size: 5rem;
  text-align: center;
  margin-top: 3%;
  color: darkgreen;
}
.backArrow {
  font-size: 4.8rem;
  position: absolute;
  top: 3.3%;
  left: 6%;
  color: green;
}
.backArrow:active {
  opacity: 0.5;
}
.shopItems {
  height: 20rem;
  width: 20rem;
  background-color: lavender;
  position: absolute;
  top: 18%;
  border-radius: 40px;
  border: 2px solid darkgreen;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
#item1 {
  left: 9.7%;
}
#item2 {
  left: 50.7%;
}
#item3 {
  top: 52%;
  left: 9.7%;
}
#item4 {
  top: 52%;
  left: 50.7%;
}
.birds {
  font-size: 5rem;
  position : absolute;
  top: 20%;
  left: 38%;
}
#bird1 {
  color: blue;
}
#bird2 {
  color: red;
}
#bird3 {
  color: darkgreen;
}
#bird4 {
  color: midnightblue;
}
.price {
  position: absolute;
  font-size: 2rem;
  left: 21%;
  top: 60%;
  font-weight: bold;
  text-align: center;
  border: 0px solid black;
  width: 60%;
}
.buyBtns {
  height: 4rem;
  width: 10rem;
  position: absolute;
  left: 25%;
  top: 75%;
  border-radius: 40px;
  font-size: 2rem;
  color: red;
}
.buyBtns:active {
  background-color: red;
  opacity: 0.5;
  color: black;
}
#shopContainer {
  border: 0px solid black;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-around;
  margin: 95% auto;
  color: darkgreen;
  width: 70%;
   z-index: 2;
}
#category1 {
  width: 50%;
  border-bottom: 2px solid darkblue;
}
#category2 {
  width: 50%;
  border-bottom: 2px solid transparent;
}
.shopItemsB {
  height: 21.5rem;
  width: 17.5rem;
  background-color: lavender;
  position: absolute;
  border-radius: 40px;
  border: 2px solid darkgreen;
  visibility: hidden;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
#item01 {
  left: 14.5%;
  top: 14%;
  background: url("Background01.png");
  background-size: cover;
}
#item02 {
  top: 14%;
  left: 50.5%;
  background: url("Background02.png");
  background-size: cover;
}
#item03 {
  top: 51%;
  left: 14.5%;
  background: url("Background03.png");
  background-size: cover;
}
#item04 {
  top: 51%;
  left: 50.5%;
  background: url("Background04.png");
  background-size: cover;
}
.priceB {
  position: absolute;
  font-size: 2rem;
  left: 16%;
  top: 65%;
  font-weight: bold;
  text-align: center;
  border: 0px solid black;
  width: 70%;
  text-shadow: 0px 0px 20px rgba(255,255,255,1);
}
.buyBtnsB {
  height: 4rem;
  width: 10rem;
  position: absolute;
  left: 21%;
  top: 79%;
  border-radius: 40px;
  font-size: 2rem;
  color: red;
}
.buyBtnsB:active {
  opacity: 0.5;
  color: black;
}
#option1 {
  font-size: 3rem;
  position: absolute;
  top: 16%;
  left: 2%;
  color: darkblue
}
#option01 {
  position: absolute;
  top: 16%;
  left: 70%;
  height: 3rem;
  width: 14rem;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 10px;
}
#option2 {
  font-size: 3rem;
  position: absolute;
  top: 25%;
  left: 2%;
  color: darkblue
}
#acradeBtn {
  top: 25%;
}
.creditText {
  font-size: 2.5rem;
  text-align: center;
  color: darkblue;
  margin: 5px;
}
#text1 {
  margin-top: 35%;
}
.settingText {
  font-size: 3rem;
  position: absolute;
  top: 15%;
  left: 20px;
  color: darkblue;
}
#settingText2 {
  top: 22%;
}
#settingText3 {
  top: 29%;
}
#settingText4 {
  top: 36%;
}
.toggleBtn {
  height: 3rem;
  width: 8rem;
  border: 1px solid black;
  border-radius: 30px;
  position: absolute;
  top: 15%;
  left: 82%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.toggleBtnCircle {
  height: 2.4rem;
  width: 2.4rem;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
}
#toggleBtn2 {
  top: 22%;
}
#toggleBtn3 {
  top: 29%;
}
#resetBtn {
  height: 3rem;
  width: 8.3rem;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 2.3rem;
  position: absolute;
  top: 36%;
  left: 82%;
  background-color: lightcyan;
}
#resetBtn:active {
  background-color: red;
}
#message {
  position: absolute;
  top: 10%;
  left: 39.5%;
  background-color: yellow;
  font-size: 3rem;
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
  border-radius: 40px;
  visibility: hidden;
}
#message2 {
  position: absolute;
  top: 10%;
  left: 28%;
  background-color: yellow;
  font-size: 3rem;
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
  border-radius: 40px;
  visibility: hidden;
}
#message3 {
  position: absolute;
  top: 10%;
  left: 34.8%;
  background-color: yellow;
  font-size: 3rem;
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
  border-radius: 40px;
  visibility: hidden;
}
#profileBlock {
  height: 28rem;
  width: 48rem;
  background-color: aquamarine;
  position: absolute;
  top: 30%;
  left: 10.8%;
  border: 2px solid darkblue;
  border-radius: 40px;
  visibility: hidden;
  z-index: 2;
}
#profilePic {
  height: 15rem;
  width: 15rem;
  border: 1px solid black;
  position: absolute;
  top: 4.3%;
  left: 4%;
  border-radius: 50%;
  background-size: cover;
}
#name {
  position: absolute;
  top: 4%;
  left: 44.8%;
  font-size: 3rem;
  border: 0px solid black;
  width: 22rem;
  text-align: right;
  color: darkblue
}
.edit {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 4.3%;
  left: 35%;
  border-radius: 30%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
.edit:active {
  color: red;
}
#edit2 {
  left: 92%;
}
#profileData {
  font-size: 3rem;
  color: darkgreen;
  position: absolute;
  left: 38%;
  top: 21%;
  border-radius: 10px;
  border: 1px solid black;
}
td {
  padding: 6px 23px 6px 23px;
}
#scoreValue2 {
  width: 7rem;
  text-align: center;
  padding: 5px 0px 5px 0px;
}
#highScoreVal {
  width: 10rem;
  text-align: center;
  padding: 5px 0px 5px 0px;
}
#achivement {
  border: 1px solid darkblue;
  height: 10.58rem;
  width: 20rem;
  position: absolute;
  top: 62%;
  width: 100%;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: azure;
  box-sizing: border-box;
}
.rewards {
  height: 8rem;
  width: 8rem;
  border: 1px solid black;
  border-radius: 20px;
  opacity: 0.2;
}
#reward1 {
  background: url("reward1.jpg");
  background-size: cover;
}
#reward2 {
  background: url("reward2.jpg");
  background-size: cover;
}
#reward3 {
  background: url("reward3.jpg");
  background-size: cover;
}
#reward4 {
  background: url("reward4.jpg");
  background-size: cover;
}
#textAchivement {
  position: absolute;
  bottom: 40%;
  font-size: 2.2rem;
  color: darkgreen;
}
#enterNameBox {
  border: 2px solid black;
  height: 12rem;
  width: 40rem;
  position: absolute;
  left: 8%;
  top: 15%;
  border-radius: 20px;
  background-color: aqua;
  visibility: hidden;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}
#enterName {
  height: 3.5rem;
  width: 35rem;
  font-size: 2.7rem;
  text-align: center;
  position: absolute;
  left: 6%;
  top: 10%;
  border-radius: 40px;
  color: darkblue;
  padding: 0.3rem;
}
#ok {
  width: 25rem;
  position: absolute;
  left: 18%;
  top: 58%;
  border-radius: 40px;
  font-size: 2.5rem;
  color: darkgreen;
  background-color: azure;
  padding: 0.5rem;
}
#closeProfileBlock {
  position: absolute;
  font-size: 2.7rem;
  top: 4%;
  left: 2%;
  color: darkblue;
}
#closeProfileBlock:active {
  color: red;
}
#profilePicBlock {
  height: 22rem;
  width: 40rem;
  position: absolute;
  border: 2px solid Black;
  border-radius: 20px;
  background-color: lightblue;
  left: 7.9%;
  top: 11%;
  visibility: hidden;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}
#picsBlock {
  height: 15rem;
  width: 40rem;
  border: 0px solid Black;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  position: absolute;
  top: 2.3%;
}
.profilePics {
  height: 7rem;
  width: 7rem;
  border: 1px solid Black;
  border-radius: 50%;
}
#profilePic1 {
  background: url("profile2.jpg");
  background-size: cover;
}
#profilePic2 {
  background: url("profile1.jpg");
  background-size: cover;
}
#profilePic3 {
  background: url("profile3.jpg");
  background-size: cover;
}
#profilePic4 {
  background: url("profile4.jpg");
  background-size: cover;
}
#profilePic5 {
  background: url("profile5.jpg");
  background-size: cover;
}
#profilePic6 {
  background: url("profile6.jpg");
  background-size: cover;
}
#profilePic7 {
  background: url("profile7.jpg");
  background-size: cover;
}
#profilePic8 {
  background: url("profile8.jpg");
  background-size: cover;
}
#ok2 {
  width: 35rem;
  position: absolute;
  left: 6.5%;
  top: 77%;
  border-radius: 30px;
  font-size: 2.5rem;
  padding: 0.5rem;
  color: darkgreen;
  background-color: lavender;
  border: 2px solid black;
}
#backgroundEffect {
  height: 100vh; 
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;
}
.newBlocks {
  height: 70vh; 
  width: 90%;
  position: absolute;
  top: 10%;
  left: 5.3%;
  border-radius: 30px;
  border: 1px solid gold;
  background: linear-gradient(130deg,lightblue,lavender);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
  overflow: hidden;
  visibility: hidden;
}
.newBlocksTitles {
  text-align: center;
  font-size: 3rem;
  position: relative;
  top: 2rem;
  border: 0px solid black;
  color: darkgreen;
}
.backArrowNewBlock {
  top: 1.5rem;
  z-index: 2;
}
#termsBox {
  border: 1px solid black;
  position: relative;
  top: 4rem;
  padding: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 62vh;
}
.termsTitles {
  font-size: 3rem;
  padding: 10px;
  position: relative;
  text-decoration: underline;
  color: darkred;
}
.paragraph {
  font-size: 2.2rem;
  padding: 10px;
  margin-bottom: 2rem;
  position: relative;
  color: darkslategray;
  text-align: justify;
}
#privacyBox {
  border: 1px solid black;
  position: relative;
  top: 4rem;
  padding: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 62vh;
}
@media(min-height: 1590px) {
  #logo {
    height: 54rem;
    width: 54rem;
    left: 8%;
  }
  #logoBox {
    height: 50rem;
    width: 50rem;
    left: 8%;
  }
}

